@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome.</h1>
                <h2>There are many things Todo in Trinidad and Tobago</h2>
            </hgroup>
            <p>
                Recently rated number 8 on a world Tourism list, what would you like Todo in Tnt?
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5><a  href="./Map?todo=leisure">I'm on a leisurely visit</a></h5>
        You will treasure the leisurely time you had in our twin island republic.
    </li>

    <li class="two">
        <h5><a  href="./Map?todo=family">Visiting family?</a></h5>
        Let's show you what fun stuff you can get up while here! :)
    </li>

    <li class="three">
        <h5><a  href="./Map?todo=wedding">Planning <strong>the</strong> big day?</a></h5>
        Many a couple have chosen our shores and its wide range of activities and amenties to tie the knot
    </li>

    <li class="five">
        <h5><a  href="./Map?todo=study">Coming to school in TnT is a good choice</a></h5>
        You learn so much here. 
    </li>

    <li class="six">
        <h5><a  href="./Map?todo=other">Or, perhaps its something else</a></h5>
        We're only just beginning to scratch the surface of what could be done in TnT.
        We're glad you chose us.
    </li>
</ol>
