@{
    ViewBag.Title = "TodoTnT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadSection {

    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaUK25OBJxjVADJr7p9wlKcpwu2D4_KVc&sensor=true"></script>
    <script  type="text/javascript">
        var map;
        var layers = {};
        var infowindow = new google.maps.InfoWindow(
  {
      size: new google.maps.Size(150, 50)
  });

        function addLayerLink(name) {
            var layerToggle = $("<a>");
            layerToggle.html("Hide " + name + " (" + layers[name].length + ")");
            layerToggle.attr("data-state", "hide");
            layerToggle.attr("data-name", name);
            layerToggle.click(function () {
                var anchor = $(this);
                var aName = anchor.attr("data-name");
                if (anchor.attr("data-state") == "hide") {
                    anchor.attr("data-state", "show");
                    anchor.html("Show " + aName + " (" + layers[aName].length + ")" );
                    hideLayer(aName);
                }
                else {
                    anchor.attr("data-state", "hide");
                    anchor.html("Hide " + aName + " (" + layers[aName].length + ")");
                    showLayer(aName);
                }

            });

            $("#layers-container").append(layerToggle);
        }

        function logLocs() {
            var d = [];
            for(var i = 0; i < layers["Ad"].length; i++) {
                var ex = layers["Ad"][i];
                var item = {};
                item.lat = ex.position.lat();
                item.long = ex.position.lng();
                item.cat = "Ad";
                item.name = "name";
                item.description = "desc";
                d.push(item);
            }

            console.log(JSON.stringify(d));
        }

        function initLayers() {
            $.get("../categories", null, function (data) {
                
                for (var i = 0; i < data.length; i++) {
                    layers[data[i].name] = [];
                }
                layers[undefined] = [];
                layers["Ad"] = [];
                

                $.get("data/tntpois.js", null, function (data) {
                    data = JSON.parse(data);
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        addMarker(new google.maps.LatLng(item.lat, item.long), item.name, item.description, item.cat);
                    }

                    for (layer in layers) {
                        if (layer == "Ad") {
                            continue;
                        }
                        addLayerLink(layer);
                    }
                });

                $.get("../ads/Details/20", null, function (data) {
                    //data = JSON.parse(data);
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        //item.url = "http://www.kfc-tt.com/";
                        addMarker(new google.maps.LatLng(item.lat, item.long), item.name, item.description, item.cat, item.url, true);
                    }

                });
            });

        }

        function addMarker(location, name, desc, cat, link, isAd) {
            var marker = new google.maps.Marker({
                position: location,
                title: name,
                animation: google.maps.Animation.DROP,
                url: link,
                map: map
            });

            

            google.maps.event.addListener(marker, 'click', function () {
                if (this.url) {
                    infowindow.setContent("<strong>" + marker.getTitle() + "</strong><br/>" + desc + "<br/><a target='_blank' href='" + this.url + "'>" + this.url + "</a>");
                } else {
                    infowindow.setContent("<strong>" + marker.getTitle() + "</strong><br/>" + desc);
                }
                infowindow.open(map, marker);
            });
            if (isAd) {
                marker.setIcon("http://maps.google.com/mapfiles/ms/icons/blue-dot.png");
                layers["Ad"].push(marker);

            }
            else {
                layers[cat].push(marker);
            }
            
        }

        function hideLayer(layerIndex) {
            var layerToHide = layers[layerIndex];
            for (var i = 0; i < layerToHide.length; i++) {
                layerToHide[i].setMap(null);
            }
        }

        function showLayer(layerIndex) {
            var layerToShow = layers[layerIndex];
            for (var i = 0; i < layerToShow.length; i++) {
                layerToShow[i].setMap(map);
            }
        }

        function showAllLayers() {
            for (var i = 0; i < layers.length; i++) {
                for (var j = 0; j < layers[i].length; j++) {
                    layers[i][j].setMap(map);
                }
            }
        }


        function initialize() {
            var mapOptions = {
                zoom: 9,
                center: new google.maps.LatLng(10.70, -61.3152),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            initLayers();

            
            //google.maps.event.addListener(map, 'click', function (event) {
            //    addMarker(event.latLng, "ad", "ad", "Ad");
            //});

            google.maps.event.addListener(map, 'click', function () {
                infowindow.close();
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <style type="text/css">
        #map-canvas {
            width:760px;
            height:600px;
        }
        #layers-container {
            width:200px;
            float:left;
        }
        #layers-container a {
            margin:5px;
            text-decoration:none;
            display:block;
            cursor:pointer;
        }

        #layers-container a:hover {
            font-weight:bold;
        }

    </style>
        }
        

<p id="layers-container">
    <h5>Interesting Places</h5>

</p>
<div id="map-canvas">
</div>
